@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/stacked-waves-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.N {
  @apply -rotate-90;
}
.S {
  @apply rotate-90;
}
.W {
  transform: scaleX(-1);
}
.E {
  @apply rotate-0;
}
